idea
Docs
docs
KSP-test
KSP_API*
KSP_Profiling
KSP_IDE
MKS
MiscParts
NetKAN
CKAN-meta
Research
GameData
AllReleases

*~
*.back
*.bak
*.swp

**/obj/**
**/bin/**
*.dll
*.zip

UserPrefs.xml
Assembly-CSharp.xml
ActionGroupManager
future-plans.graphml
KSPAssets.xml
packages
*.unitypackage
GroundConstruction.graphml
venv
HSV-Color-Picker-Unity
.idea
*.exe
